@use 'shared' as *;

canvas {
  display: block;
}

// Home page specific components
.home-grid {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 80vw 1fr;
  justify-items: center;

  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }
}

.home-collage {
  max-height: 80vh;
  aspect-ratio: inherit;
  margin: 1em;
}

.home-title {
  background-color: $cream;
}

.home-links {
  margin-top: 1rem;
  background-color: $celadon;
}

.home-links, .home-title {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}

.directory {
  background-color: $celadon;
  margin-top: 1rem;
}

h1 {
  color: $chocolate-cosmos;
  margin-bottom: 30px;
  font-size: 24px;
}

.links {
  line-height: 2;
}

.links a {
  color: $chocolate-cosmos;
  text-decoration: none;
  font-size: 16px;
  display: block;
  margin: 1rem 0;
  line-height: 1.3;
}

.links a:hover {
  text-decoration: underline;
}

.site-title {
  color: $ecru;
  text-align: center;

  &--phonetic {
    text-align: center;
    color: $garnet;
  }
}

svg.pronunciation-btn {
  fill: $ecru;
  margin-left: 0.625em;

  &:hover {
    fill: $chocolate-cosmos;
  }
}

.directory-title {
  background-color: $cream;
  text-align: center;
}

ul.directory-list {
  li::marker {
    content: '';
  }
}

.col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.card {
  display: grid;
  place-items: center;
  padding: 0.6rem;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  background: white;
}
